<div class="pure-g">
  <mat-toolbar class="pure-u-1-1">
    <div class="pure-u-1-2">
      <span style="float: left">
        <img
          src="/assets/images/project-icon.png"
          width="30"
          height="30"
          alt=""
          style="float: left" />
        <button mat-button [routerLink]="'/home'">Home</button>
        <button mat-button [routerLink]="'/lists'">Lists</button>
        <button mat-button [routerLink]="'/items'">Items</button>
      </span>

      <!-- <mat-menu #menuBook="matMenu">
        <button mat-menu-item [routerLink]="'/accounts-table'">
          Accounts (Table)
        </button>
        <button mat-menu-item>Transactions</button>
        <button mat-menu-item>Securities</button>
        <button mat-menu-item>Prices</button>
        <button mat-menu-item>Settings</button>
      </mat-menu> -->
    </div>

    <div class="pure-u-1-2">
      <span style="float: right">
        <!-- <button mat-button [routerLink]="'/admin/settings'" *ngIf="isAdmin">
          <mat-icon style="margin-right: 0.5rem">settings</mat-icon>Settings
        </button> -->
        <!-- *ngIf="this.oidcUser" -->
        <button *ngIf="this.oidcUser" mat-button [matMenuTriggerFor]="menuUser">
          <mat-icon style="margin-right: 0.5rem">account_circle</mat-icon
          >{{ this.oidcUser().userData?.preferred_username }}
        </button>
      </span>

      <mat-menu #menuUser="matMenu">
        <!-- <button mat-menu-item (click)="navigateToProfile()">Profile</button> -->
        <button mat-menu-item (click)="logoutOidc()">Sign Out</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
