#jinja2:trim_blocks:True

{{ ansible_managed | comment }}
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Unit]
{% if quadlet.unit_after is defined and quadlet.unit_after | length > 0 %}After={{ quadlet.unit_after }}
{% endif %}
{% if quadlet.unit_description is defined and quadlet.unit_description | length > 0 %}Description={{ quadlet.unit_description }}
{% endif %}
{% if quadlet.unit_requires is defined and quadlet.unit_requires | length > 0 %}Requires={{ quadlet.unit_requires }}
{% endif %}
{% if quadlet.unit_start_limit_interval_sec is defined and quadlet.unit_start_limit_interval_sec %}StartLimitIntervalSec={{ quadlet.unit_start_limit_interval_sec }}
{% endif %}
{% if quadlet.unit_start_limit_burst is defined and quadlet.unit_start_limit_burst %}StartLimitBurst={{ quadlet.unit_start_limit_burst  }}
{% endif %}

[Container]
{% if quadlet.container_environment is defined and quadlet.container_environment | length > 0 -%}
{% for list_item in quadlet.container_environment -%}
{% for key, value in list_item.items() -%}Environment={{ key }}={{ value }}{% endfor +%}
{% endfor %}
{% endif %}
{% if quadlet.container_image is defined and quadlet.container_image | length > 0 %}Image={{ quadlet.container_image }}
{% endif %}
{% if quadlet.container_health_cmd is defined and quadlet.container_health_cmd | length > 0 %}HealthCmd={{ quadlet.container_health_cmd }}
{% endif %}
{% if quadlet.container_health_interval is defined and quadlet.container_health_interval | length > 0 %}HealthInterval={{ quadlet.container_health_interval }}
{% endif %}
{% if quadlet.container_health_retries is defined and quadlet.container_health_retries %}HealthRetries={{ quadlet.container_health_retries }}
{% endif %}
{% if quadlet.container_health_start_period is defined and quadlet.container_health_start_period | length > 0 %}HealthStartPeriod={{ quadlet.container_health_start_period }}
{% endif %}
{% if quadlet.container_health_timeout is defined and quadlet.container_health_timeout | length > 0 %}HealthTimeout={{ quadlet.container_health_timeout }}
{% endif %}
{% if quadlet.container_log_driver is defined and quadlet.container_log_driver | length > 0 %}LogDriver={{ quadlet.container_log_driver }}
{% endif %}
{% if quadlet.container_container_name is defined and quadlet.container_container_name | length > 0 %}ContainerName={{ quadlet.container_container_name }}
{% endif %}
{% if quadlet.container_network is defined and quadlet.container_network | length > 0 %}Network={{ quadlet.container_network }}
{% endif %}
{% if quadlet.container_podman_args is defined and quadlet.container_podman_args | length > 0 -%}
{% for list_item in quadlet.container_podman_args -%}PodmanArgs={{ list_item }}{% endfor +%}
{% endif %}
{% if quadlet.container_publish_port is defined and quadlet.container_publish_port | length > 0 -%}
{% for list_item in quadlet.container_publish_port -%}PublishPort={{ list_item }}{% endfor +%}
{% endif %}

[Service]
{% if quadlet.service_exec_start_pre is defined and quadlet.service_exec_start_pre | length > 0 %}ExecStartPre={{ quadlet.service_exec_start_pre }}
{% endif %}
{% if quadlet.service_restart is defined and quadlet.service_restart | length > 0 %}Restart={{ quadlet.service_restart }}
{% endif %}
{% if quadlet.service_restart_sec is defined and quadlet.service_restart_sec %}RestartSec={{ quadlet.service_restart_sec }}
{% endif %}

[Install]
{% if quadlet.install_wanted_by is defined and quadlet.install_wanted_by | length > 0 %}WantedBy={{ quadlet.install_wanted_by }}
{% endif %}
