<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>
        <img
          id="nav-lorem-list-logo"
          src="/assets/images/project-icon.svg"
          height="28"
          width="28"
          alt="lorem list logo" /> </span
    ></mat-toolbar>
    <mat-nav-list>
      <a
        [routerLink]="'/home'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        matTooltip="Home"
        matTooltipPosition="right"
        [matTooltipDisabled]="isMatTooltipDisabled()">
        <span>
          <mat-icon>house</mat-icon>
        </span>
      </a>
      <a
        [routerLink]="'/lists'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        matTooltip="Lists"
        matTooltipPosition="right"
        [matTooltipDisabled]="isMatTooltipDisabled()">
        <span>
          <mat-icon>list</mat-icon>
        </span>
      </a>
      <a
        [routerLink]="'/items'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        matTooltip="Items"
        matTooltipPosition="right"
        [matTooltipDisabled]="isMatTooltipDisabled()">
        <span>
          <mat-icon>check_box_outline_blank</mat-icon>
        </span>
      </a>
      <!-- @if (!authenticated().isAuthenticated) {
        <a
          [routerLink]="'/login'"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          matTooltip="Log In"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <mat-icon>login</mat-icon>
        </a>
      } -->
      @if (authenticated().isAuthenticated) {
        <a
          [routerLink]="'/logout'"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          (click)="logoutOidc()"
          matTooltip="Log Out"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <mat-icon>logout</mat-icon>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <div class="pure-g" style="width: 100%">
        <div class="pure-u-1-2">
          <!-- content (if any) to be determined -->
        </div>
        <div class="pure-u-1-2">
          @if (authenticated().isAuthenticated) {
            <button
              style="float: right"
              mat-button
              aria-label="User menu"
              [matMenuTriggerFor]="menuUser">
              {{ this.oidcUser().userData?.name }}
              <mat-icon iconPositionEnd>account_circle</mat-icon>
            </button>
          }
          <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="logoutOidc()">Sign Out</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
