<div class="pure-g">
  <mat-toolbar>
    <div class="pure-u-1-2">
      <button mat-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="pure-u-1-2">
      <span style="float: right">
        <button
          *ngIf="this.oidcUser"
          mat-button
          aria-label="User menu"
          [matMenuTriggerFor]="menuUser">
          <mat-icon style="margin-right: 0.5rem">account_circle</mat-icon
          >{{ this.oidcUser().userData?.name }}
        </button>
      </span>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="logoutOidc()">Sign Out</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>

<mat-sidenav-container [autosize]="isAutosize">
  <!-- *ngIf="authenticated().isAuthenticated" -->
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a
        [routerLink]="'/home'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
      </a>
      <a
        [routerLink]="'/lists'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item>
        <span class="entry">
          <mat-icon>list</mat-icon>
          <span *ngIf="!isCollapsed">Lists</span>
        </span>
      </a>
      <a
        [routerLink]="'/items'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item>
        <span class="entry">
          <mat-icon>check_box_outline_blank</mat-icon>
          <span *ngIf="!isCollapsed">Items</span>
        </span>
      </a>
      <a
        [routerLink]="'/login'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item>
        <span class="entry">
          <mat-icon>login</mat-icon>
          <span *ngIf="!isCollapsed">Login</span>
        </span>
      </a>
      <a
        [routerLink]="'/logout'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        (click)="logoutOidc()">
        <span class="entry">
          <mat-icon>logout</mat-icon>
          <span *ngIf="!isCollapsed">Logout</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="pure-g">
      <div
        class="pure-u-1-24 pure-u-md-2-24 pure-u-lg-3-24 pure-u-xl-7-24"
        id="content-layout-left"></div>
      <div
        class="pure-u-22-24 pure-u-md-20-24 pure-u-lg-18-24 pure-u-xl-10-24"
        id="content-layout-center">
        <router-outlet></router-outlet>
      </div>
      <div
        class="pure-u-1-24 pure-u-md-2-24 pure-u-lg-3-24 pure-u-xl-7-24"
        id="content-layout-right"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
