#content-layout-parent {
  max-height: 80vh;
}

#content-layout-center {
  box-sizing: border-box;
}

#user-indicator-button {
  float: right;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 72px;
  padding: 0 8px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.full-width {
  width: 100%;
}
