<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>
        <img
          class="logo-sm"
          src="/assets/images/project-icon.svg"
          alt="lorem list logo" /> </span
    ></mat-toolbar>
    <mat-nav-list>
      <a
        [routerLink]="'/home'"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        matTooltip="Home"
        matTooltipPosition="right"
        [matTooltipDisabled]="isMatTooltipDisabled()">
        <span>
          <mat-icon>home</mat-icon>
        </span>
      </a>
      @if (authenticated().isAuthenticated) {
        <a
          [routerLink]="domainRoutes.listsManage"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          matTooltip="Manage Lists"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <span>
            <mat-icon>folder</mat-icon>
            <!-- <mat-icon>docs_add_on</mat-icon> -->
          </span>
        </a>
        <a
          [routerLink]="domainRoutes.listCreate"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          matTooltip="Create a List"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <span>
            <mat-icon>create_new_folder</mat-icon>
          </span>
        </a>
        <a
          [routerLink]="domainRoutes.itemsManage"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          matTooltip="Manage Items"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <span>
            <mat-icon>description</mat-icon>
          </span>
        </a>
        <a
          [routerLink]="domainRoutes.itemCreate"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          matTooltip="Create an Item"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <span>
            <mat-icon>note_add</mat-icon>
          </span>
        </a>
        <a
          [routerLink]="'/logout'"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          mat-list-item
          (click)="logoutOidc()"
          matTooltip="Log Out"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <mat-icon>logout</mat-icon>
        </a>
      } @else {
        <a
          mat-list-item
          (click)="loginOidc()"
          matTooltip="Log In"
          matTooltipPosition="right"
          [matTooltipDisabled]="isMatTooltipDisabled()">
          <mat-icon>login</mat-icon>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <div class="pure-g full-width">
        <div class="pure-u-1-2">
          <!-- content (if any) to be determined -->
        </div>
        <div class="pure-u-1-2">
          @if (authenticated().isAuthenticated) {
            <button
              mat-button
              id="user-indicator-button"
              aria-label="User menu"
              [matMenuTriggerFor]="menuUser">
              {{ this.oidcUser().userData?.name }}
              <mat-icon iconPositionEnd>account_circle</mat-icon>
            </button>
          }
          <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="logoutOidc()">Sign Out</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>

    <div id="content-layout-center" style="padding: 50px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
