<mat-card appearance="outlined">
  <div class="default-form-card-container">
    <mat-card-header class="default-card-header">
      <mat-card-title>Manage Lists</mat-card-title>
      <div class="list-management-header-buttons">
        <button
          mat-button
          matTooltip="Create a List"
          matTooltipPosition="below"
          color="primary"
          aria-label="Create a List"
          (click)="onCreateList()">
          Create
          <!-- <i class="material-symbols-rounded">create_new_folder</i> -->
        </button>
        <button
          mat-button
          matTooltip="Delete all of your Lists"
          matTooltipPosition="below"
          color="primary"
          aria-label="Delete all of Your Lists"
          (click)="onDeleteAllLists()">
          Delete All
          <!-- <i class="material-symbols-rounded">delete_sweep</i> -->
        </button>
      </div>
    </mat-card-header>
    <mat-card-content style="border: 1px">
      <mat-drawer-container
        [hasBackdrop]="false"
        style="background-color: inherit"
        class="list-manage-drawer-container">
        <mat-drawer
          mode="over"
          position="end"
          class="table-update-drawer"
          [opened]="isListBeingEdited || isListBeingCreated"
          disableClose="true">
          <section>
            <form
              #formInstanceListManage="ngForm"
              [formGroup]="formListManage"
              (ngSubmit)="
                onCreateEditListSubmit(formInstanceListManage, $event)
              ">
              <header>
                <h2 class="h3">
                  {{ isListBeingCreated ? 'Create' : 'Edit' }} List
                </h2>
              </header>

              <div>
                <div>
                  <div>
                    <mat-form-field class="full-width">
                      <input
                        #nameInput
                        matInput
                        placeholder="Name"
                        formControlName="name"
                        class="full-width" />
                      @if (
                        formListManage.controls['name'].hasError('required')
                      ) {
                        <mat-error>List name is required.</mat-error>
                      }
                      @if (
                        formListManage.controls['name'].hasError('maxlength')
                      ) {
                        <mat-error>
                          List name must have no more than 64 characters.
                        </mat-error>
                      }
                      @if (
                        formListManage.controls['name'].hasError('pattern')
                      ) {
                        <mat-error>
                          List name must not consist only of whitespace
                          characters.
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="full-width">
                    <mat-form-field class="full-width">
                      <textarea
                        matInput
                        formControlName="description"
                        placeholder="Description"
                        rows="5">
                      </textarea>
                      @if (
                        formListManage.controls['description'].hasError(
                          'maxlength'
                        )
                      ) {
                        <mat-error>
                          List description must have no more than 2048
                          characters.
                        </mat-error>
                      }
                      @if (
                        formListManage.controls['description'].hasError(
                          'pattern'
                        )
                      ) {
                        <mat-error>
                          List description must not consist only of whitespace
                          characters.
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <footer>
                <div
                  class="footer-button-container"
                  [ngClass]="{ isSmallerView: isSmallerView }">
                  <button
                    mat-raised-button
                    class="button footer-button"
                    type="button"
                    (click)="onDismiss(formInstanceListManage)">
                    Dismiss
                  </button>
                  <button
                    id="save"
                    mat-raised-button
                    class="button footer-button"
                    type="submit">
                    Save
                  </button>
                  @if (isListBeingCreated) {
                    <button
                      id="saveAndCreateAnother"
                      mat-raised-button
                      class="button footer-button"
                      type="submit">
                      Save and Create Another
                    </button>
                  }
                </div>
              </footer>
            </form>
          </section>
        </mat-drawer>

        <mat-drawer-content style="background-color: inherit">
          <div
            class="list-management-table-header"
            [ngClass]="{ isSmallerView: isSmallerView }">
            <mat-form-field
              class="list-management-table-filter"
              [ngClass]="{ isSmallerView: isSmallerView }">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="onFilterList($event)"
                placeholder="Lorem Ipsum"
                #input />
            </mat-form-field>
            <mat-paginator
              style="background-color: inherit"
              #paginator
              [length]="dataSource.data.length"
              [pageIndex]="0"
              [hidePageSize]="true"
              aria-label="Select page">
            </mat-paginator>
          </div>

          <table
            mat-table
            matSort
            matTableResponsive
            [dataSource]="(dataSource$ | async) ?? []"
            aria-label="Elements">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="public">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>
              <td mat-cell *matCellDef="let row">{{ row.public | yesNo }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let row">{{ row.description }}</td>
            </ng-container>

            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
              <td mat-cell *matCellDef="let row">
                {{ row.created | date: 'YYYY-MM-dd HH:mm:ss a z' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="updated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
              <td mat-cell *matCellDef="let row">
                {{ row.updated | date: 'YYYY-MM-dd HH:mm:ss a z' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let row" class="min-width-200px">
                <button
                  mat-button
                  matTooltip="Edit"
                  matTooltipPosition="below"
                  color="primary"
                  class="default-small-button action-button-left"
                  aria-label="Edit Row"
                  (click)="onEditList(row)">
                  <i class="material-symbols-rounded">info</i>
                </button>
                <button
                  mat-button
                  matTooltip="Toggle Shared"
                  matTooltipPosition="below"
                  color="primary"
                  class="default-small-button"
                  aria-label="Edit Row"
                  (click)="onTogglePublicList(row)">
                  <i class="material-symbols-rounded">lock</i>
                </button>
                <button
                  mat-button
                  matTooltip="Add/Remove Items"
                  matTooltipPosition="below"
                  color="primary"
                  class="default-small-button"
                  aria-label="Add/Remove Items"
                  (click)="onManageListContent()">
                  <i class="material-symbols-rounded">settings</i>
                </button>
                <button
                  mat-button
                  matTooltip="Delete"
                  matTooltipPosition="below"
                  color="primary"
                  class="default-small-button action-button-right"
                  aria-label="Edit Row"
                  (click)="onDeleteList(row)">
                  <i class="material-symbols-rounded">delete</i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-card-content>
  </div>
</mat-card>
