@use '@angular/material' as mat;
@use './style/theme/m3-theme.scss';
// @use 'styles/theme/mixins/future-component.theme';

@include mat.core();

// https://purecss.io/
@import './style/pure-grids/base.css';
@import './style/pure-grids/grids.css';
@import './style/pure-grids/grids-responsive.css';

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-elevation(m3-theme.$light-theme);
  @include mat.system-level-motion(m3-theme.$light-theme);
  @include mat.system-level-shape(m3-theme.$light-theme);
  @include mat.system-level-state(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mdc-filled-button-container-shape: var(--sys-corner-extra-small);
  --mdc-outlined-button-container-shape: var(--sys-corner-extra-small);
  --mdc-protected-button-container-shape: var(--sys-corner-extra-small);
  --mdc-text-button-container-shape: var(--sys-corner-extra-small);
  --mat-list-active-indicator-shape: var(--sys-corner-extra-small);
  --mat-sidenav-container-shape: var(--sys-corner-none);
}

// intended to style a mat-icon used as a form field suffix
// .password-visibility-indicator {
//   color: mat.m2-get-color-from-palette($lorem-list-ui-primary, 500);
// }
