@use '@angular/material' as mat;
@use './style/theme/m3-theme.scss';
// @use 'styles/theme/mixins/future-component.theme';

@include mat.elevation-classes();
@include mat.app-background();

// https://purecss.io/
@import './style/pure-grids/grids.css';
@import './style/pure-grids/grids-responsive.css';
@import 'material-symbols';

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-elevation(m3-theme.$light-theme);
  // @include mat.system-level-motion(m3-theme.$light-theme);
  @include mat.system-level-shape(m3-theme.$light-theme);
  @include mat.system-level-state(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mdc-filled-button-container-shape: var(--mat-sys-corner-extra-small);
  --mdc-outlined-button-container-shape: var(--mat-sys-corner-extra-small);
  --mdc-protected-button-container-shape: var(--mat-sys-corner-extra-small);
  --mdc-text-button-container-shape: var(--mat-sys-corner-extra-small);
  --mat-list-active-indicator-shape: var(--mat-sys-corner-extra-small);
  --mat-sidenav-container-shape: var(--mat-sys-corner-none);
  --mdc-dialog-container-shape: var(--mat-sys-corner-extra-small);
  // --mat-app-background-color: #FAFAF9;
}

// .material-symbols-outlined {
//   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
// }

.logo-sm {
  height: 1.2em;
  width: 1.2em;
}

.logo-md {
  height: 4em;
  width: 4em;
}

.logo-lg {
  height: 6em;
  width: 6em;
}

.flex-top-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.default-form-card-container {
  margin: 2em;
}

.default-card-header {
  margin-bottom: 1em;
}

.default-card-actions {
  margin-top: 1em;
}

.default-small-button.mat-mdc-button {
  padding: 0px;
  min-width: 38px;
  width: 36px;
  height: 36px;
}

.default-small-button.mat-mdc-raised-button {
  padding: 0px;
  min-width: 38px;
  width: 36px;
  height: 36px;
}

.full-width {
  width: 100%;
}

// intended to style a mat-icon used as a form field suffix
// .password-visibility-indicator {
//   color: mat.m2-get-color-from-palette($lorem-list-ui-primary, 500);
// }
